$gray1: #f5f5f5;;

/* やることリスト・お知らせの大枠タブ */
.content-mypage_notification-todo{
  /*タブ切り替えの中身のスタイル*/
  .tab_content{
    background-color: #fff;
    display: none;
    text-align: center;
    clear: both;
    // height: calc(100% - 74px);
    .mypage-item-not-found{
      padding:160px 0 60px;
      color:lightgray;
      font-weight:bold;
    }
      .mypage-item-list-arrow{
        position: absolute;
        font-size: 1.5rem;
        right: 16px;
        top:30px;
      }
      /*itemリストのスタイル*/
      .mypage-item-list-tab{
        margin:0px;
        height:100%;
      }
      li{
        display: flex;
        position: relative;
        width: 100%;
        padding: 16px;
        height: 100%;
        min-height: 80px;
        color: #333;
        border-bottom: 1px solid $gray1;
          img {
            display: block;
            float: left;
            margin: 0 16px 0 0;
            width: 48px;
            height: 48px;
          }
          .mypage-item-body {
            text-align: left;
            .mypage-item-text{
              text-overflow: ellipsis;
              max-height: 4.4em;
              line-height: 1.5;
            .time{
              &-icon{
                font-size: 16px;
                vertical-align: middle;
                margin: 0 8px 0 0;
                color: #888;
              }
            }
            }
          }
        }
      li:last-child{
        display: block;
        bottom: 0;
        padding: 25px;
        box-align: center;
        a {
          display: block;
          line-height:56px;
          height:56px;
          margin: 0 auto;
          background-color: #eee;
          text-align: center;
        }
      }
      }
      li:hover {
        background-color: #fafafa;
    }
  }
  