// background
$bodyBaseWhite: #fff;
$bodyBaseGray: #f5f5f5;

$baseRed:#ea352d;
$baseBlue:#0099e8;

// basefontcolor
$baseFontWhite:#fff;
$baseFontBlack:#000;

// bordercolor
$borderGray:#ddd;

// aタグcolor
$aTagColor:#0099e8;
$aHoverColor:#60c7fc;

// shadow
$boxShadow: #ccc;

// hovor
$hoverWhite:#fafafa;
