.main__double-column {
  display: flex;
  width: 1020px;
  height: 100%;
  margin: 0 auto;
  padding: 40px 0 0 0;
  overflow: hidden;
}
.content {
  width: 700px;
  height: 100%;
  margin-left:40px;
  background-color: #fdedd6;
}

