// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main__single-column {
  display: flex;
  width: 1020px;
  height: 100%;
  margin: 0 auto;
  padding: 40px 0 0 0;
  overflow: hidden;
}
.content {
  width: 1020px;
  height: 100%;
  background-color: #fdedd6;
}

