
.pankuzu
  .pankuzu-inner
    %p
      %a{:href => ""}> メルカリ
      　マイページ
.main__double-column
  .sidebar
    %nav
      %ul
        %li
          %a{:href => ""} マイページ
        %li
          %a{:href => ""} お知らせ
        %li
          %a{:href => ""} やることリスト
        %li
          %a{:href => ""} いいね！一覧
        %li
          %a{:href => ""} 出品する
        %li
          %a{:href => ""} 出品した商品 - 出品中
        %li
          %a{:href => ""} 出品した商品 - 取引中
        %li
          %a{:href => ""} 出品した商品 - 売却済み
        %li
          %a{:href => ""} 購入した商品 - 取引中
        %li
          %a{:href => ""} 購入した商品 - 過去の取引
        %li
          %a{:href => ""} ニュース一覧
        %li
          %a{:href => ""} 評価一覧
        %li
          %a{:href => ""} ガイド
        %li
          %a{:href => ""} お問い合わせ
      %p メルペイ
      %ul
        %li
          %a{:href => ""} 売上・振込申請
        %li
          %a{:href => ""} ポイント
      %p 設定
      %ul
        %li
          %a{:href => ""} プロフィール
        %li
          %a{:href => ""} 発送元・お届け先住所変更
        %li
          %a{:href => ""} 支払い方法
        %li
          %a{:href => ""} メール/パスワード
        %li
          %a{:href => ""} 本人情報
        %li
          %a{:href => ""} 電話番号の確認
        %li
          %a{:href => ""} ログアウト
  .content
    / コンテンツ
    %a{:href => "users/signup"} 新規登録
    %a{:href => "users/signin"} ログイン
.sellbutton
  %a{:href => "#"}
    %p 出品
    %i.fa.fa-camera{"aria-hidden" => "true"}

